
<script src="../../gradient.js" ></script>
<style></style>
<div class="row form-group  "></div>
<div class="grid-container text-center">
  <h1 class=" title-container main-title-text">Start turning time to sales</h1>
  <div class="pricing-header ">
    <p class="text-center   "> Join thousands of happy team, boost your revenue and save<br>more time for what really matters</p>
  </div>
  <div class="switch-wrapper">
    <input id="monthly" type="radio" name="switch" checked>
    <input id="yearly" type="radio" name="switch">
    <label for="monthly">Monthly</label>
    <label for="yearly">Yearly</label>
    <span class="highlighter"></span>
  </div>
  <div class="row form-group">
    <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
      <div class="pricing-item featured">

      </div>

    </div><!-- End Pricing Item -->
  </div>
    <div class="container  text-dark">
      <div class="card-deck Lato mb-3 text-center">
        <div class="card  text-left shadow-sm">
          <div  class="card-header   ">
            <h4 class="  lato white-font whitefont  text-center">Most popular choice</h4>

          </div>
          <div class="card-body">

            <h1 class="card-title text-left  lato-bold pricing-card-title">Free</h1>
            <h1 class="card-title text-left lato-bold  ">€0</h1>

            <ul class="list-unstyled mt-3 mb-4">
              <li class="lato-bold text-left">Per use/month, billed monthly</li>

            </ul>
            <button type="button" class="btn btn-md   btn-ocean btn-block btn-default"><span class="font-button-marine">Get started</span></button>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="lato-bold text-left">&nbsp;</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>

            </ul>

          </div>
        </div>
        <div class="card  text-left shadow-sm">
          <div  class=" card-header-support   ">


          </div>
          <div class="card-body">

            <h1 class="card-title text-left  lato-bold pricing-card-title">Solo</h1>
            <h1 class="card-title text-left lato-bold  ">€0</h1>

            <ul class="list-unstyled mt-3 mb-4">
              <li class="lato-bold text-left">Per use/month, billed monthly</li>

            </ul>
            <button type="button" class="btn btn-md   btn-ocean btn-block btn-default"><span class="font-button-marine">Get started</span></button>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="lato-bold text-left">Everything in solo plus:</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>

            </ul>

          </div>
        </div>
        <div class="card  text-left shadow-sm">
          <div  class=" card-header-support   ">


          </div>
          <div class="card-body">

            <h1 class="card-title text-left  lato-bold pricing-card-title">Business</h1>
            <h1 class="card-title text-left lato-bold  ">€0</h1>

            <ul class="list-unstyled mt-3 mb-4">
              <li class="lato-bold text-left">Per use/month, billed monthly</li>

            </ul>
            <button type="button" class="btn btn-md   btn-ocean btn-block btn-default"><span class="font-button-marine">Get started</span></button>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="lato-bold text-left">Everything in solo plus:</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>

            </ul>

          </div>
        </div>
        <div class="card  text-left shadow-sm">
          <div  class=" card-header-support   ">


          </div>
          <div class="card-body">

            <h1 class="card-title text-left  lato-bold pricing-card-title">Enterprise</h1>
            <h1 class="card-title text-left lato-bold  ">€0</h1>

            <ul class="list-unstyled mt-3 mb-4">
              <li class="lato-bold text-left">Per use/month, billed monthly</li>

            </ul>
            <button type="button" class="btn btn-md   btn-ocean btn-block btn-default"><span class="font-button-marine">Get started</span></button>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="lato-bold text-left">Everything in solo plus:</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>
              <li class=" text-left">Base company search filters</li>

            </ul>

          </div>
        </div>


      </div>

    </div>



    <script src="../../Gradientfunction.js" ></script>
