<nav   class="navbar    navbar-expand-lg navbar-dark shadow-5-strong">
  <!-- Container wrapper -->
  <div class="container-fluid ">
    <!-- Navbar brand -->
    <a class="navbar-brand " href="#">Outbound</a>

    <!-- Toggle button -->


    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse offset-3 " id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button mat-button [matMenuTriggerFor]="menu">Platforms</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </li>
        <li class="nav-item">
          <button mat-button>Pricing</button>
        </li>
        <li class="nav-item">
          <button mat-button [matMenuTriggerFor]="menu">Content Hub</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </li>
        <li class="nav-item">
          <button mat-button [matMenuTriggerFor]="menu">Free Tools</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </li>
        <li class="nav-item">
          <button mat-button>Sign In</button>
        </li>

        <!-- Navbar dropdown -->


      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
    <app-dashboard></app-dashboard>
